In [ ]:
positiional Arguments
default arguments
variable length arguments
keyword arguments
variable length keyword arguments

In [1]:
def emp_details(id,name,sal,city,dept):
    print("id:",id)
    print("Name:",name)
    print("Sal:",sal)
    print("City:",city)
    print("Dept:",dept)

In [2]:
emp_details(101,"Rahul",6456456,"Pune","IT")

id: 101
Name: Rahul
Sal: 6456456
City: Pune
Dept: IT

In [4]:
emp_details("Mumbai",6454545,"HR","anil",6565)

id: Mumbai
Name: 6454545
Sal: HR
City: anil
Dept: 6565

In [8]:
def emp_details(id,name,sal,city,dept,passport="no passport available"):
    print("id:",id)
    print("Name:",name)
    print("Sal:",sal)
    print("City:",city)
    print("Dept:",dept)
    print("Passport:",passport)

In [9]:
emp_details(202,"Tushar",5454544,"Pune","Admin","U5466543")

id: 202
Name: Tushar
Sal: 5454544
City: Pune
Dept: Admin
Passport: U5466543

In [10]:
emp_details(202,"Tushar",5454544,"Pune","Admin")

id: 202
Name: Tushar
Sal: 5454544
City: Pune
Dept: Admin
Passport: no passport available

In [11]:
def statement_year(startdate='01-04-2023',enddate='31-03-2024'):
    print("downlading statement from {} to {} ..".format(startdate,enddate))

In [12]:
statement_year()

downlading statement from 01-04-2023 to 31-03-2024 ..

In [13]:
statement_year('05-10-2023','31-12-2023')

downlading statement from 05-10-2023 to 31-12-2023 ..

In [17]:
def test(*args):
    print("in side function")
    print(args)
    print("in side function")

In [18]:
test(10,30,40,7,4,8776)

in side function
(10, 30, 40, 7, 4, 8776)
in side function

In [19]:
def add(*test):
    total = 0
    for i in test:
        total+=i
    print(total)

In [22]:
add()

0

In [23]:
def emp_details(id,name,sal,city,dept,passport):
    print("id:",id)
    print("Name:",name)
    print("Sal:",sal)
    print("City:",city)
    print("Dept:",dept)
    print("Passport:",passport)

In [24]:
emp_details(passport='U54354435',sal=4564546545,id=100,name='rahul',dept='IT',city='Pune')

id: 100
Name: rahul
Sal: 4564546545
City: Pune
Dept: IT
Passport: U54354435

In [25]:
def emp_details(**kwargs):
    print(kwargs)

In [26]:
emp_details(id=65464,name='test',age=545)

{'id': 65464, 'name': 'test', 'age': 545}

In [40]:
def test(deptid,nopass = 'no value',*args,**kwargs):
    print(deptid)
    print(nopass)
    print(args)
    print(kwargs)

In [41]:
test(6545,23,6565,id=101,name='sample')

6545
23
(6565,)
{'id': 101, 'name': 'sample'}

In [42]:
def t1(p=10,q):
    print(p)
    print(q)

SyntaxError: parameter without a default follows parameter with a default (3520958330.py, line 1)

In [45]:
course = 'Python Data Science'
def test():
    x = 100
    y = 200

In [44]:
x

NameError: name 'x' is not defined

In [ ]:
she bang

doc string
"""

"""
import library

global variales

function1

function2

function3

main function

if __name__=='__main__':
    main()